@import '../../styles/variables';

.wish-list {
    background-color: white;

    .heading {
        border: solid 1px $gray40;
        border-radius: 4px;
        padding: .5rem;
        margin-bottom: .2rem;
    }

    .items {
        border: solid 1px $gray30;
        box-shadow: $shadow;
        border-radius: 4px;
        padding: .5rem;
        margin: 0;
    }

}