@import '../../styles/variables';

.wish-list-item {
    list-style: none;
    border: 1px solid $gray30;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;

    .item-label {
        color: $green;
        font-weight: 500;
    }

    .remove {
        color: $red;
        cursor: pointer;
    }

}