@import '../../styles/variables';

.book-item {
    width: 100%;
    padding: $spacing-xxs;
    box-shadow: $shadow;
    border-radius: 4px;
    font-size: .8rem;

    .btn-add-to-favorites {
        background: transparent;
        border: 0;
        font-size: 1.5rem;
        cursor: pointer;
        color: blue;
    }

    .primary-info {
        display: flex;
        align-items: stretch;
    }

    .book-image {
        align-self: flex-start;
        flex-grow: 0.5
    }

    .book-details {
        align-self: stretch;
        margin-left: .5rem;
        flex-grow: 2
    }

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        margin: 0;
        color: $green01;
        font-size: .9rem;
    }

    .author {
        color: $blue-dark;
    }

    .published-date,
    .publisher {
        margin-left: 5px;
    }

    .basic-info {
        display: flex;
        margin-top: .3rem;
    }

    .description,
    .author {
        font-weight: 400;
        white-space: normal;
    }

    .description {
        display: none;
        margin-top: .3rem;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .description {
            display: block;
        }
    }
}